ul li {
	list-style-type: none;
}
#pwd_rules {
	border-radius:5px;
	box-shadow:0 1px 3px #ccc;
	position:absolute;
    bottom:-5px;
    padding:15px;
    background:#fefefe;

    width:250px;
		bottom: -115px\9;
    right:55px;

    border:1px solid #ddd;
	display: none;
}

.invalid {
	color:#ec3f41;
    padding-left:22px;
    line-height:24px;
}
.valid {
	color:#3a7d34;
    padding-left:22px;
    line-height:24px;
}
